<a href="#/catalog/{{_id}}" class="team-box">
    <span class="spanner">Team name</span>
    <span class="title">{{name}}</span>
    <span class="spanner">Description</span>
    {{#if description}}
            <p>{{description}}</p>
    {{else}}
            <p>No description</p>
    {{/if}}
</a>